/* Color: #2e86de */

/* --------------------------------- */
/* BASIC SETUP */
/* --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #061829;
    font-family: 'Rubik', 'Arial';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}



/* --------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------- */

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Rubik', 'Arial';
    font-weight: 700;
    font-size: 72px;
    letter-spacing: -4px;
    word-spacing: 5px;
}

h2, h3{
    font-weight: 300;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

.row {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

a {
    text-decoration: none;
    letter-spacing: 2px;
    color: #061829;
}

.para {
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-top: 20px;
}

.bDash{
   color: #2e86de; 
}

/* --------------------------------- */
/* HEADER */
/* --------------------------------- */

.intro {
    text-align: center;
    margin-top: 200px;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}


/* Main nav */
.main-nav {
    float: right;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 2px 0;
    color: #2e86de;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    color: #103a63;
    border-bottom: 2px solid #103a63;
}

.socials {
    word-spacing: 20px;
    font-size: 180%;
    text-align: center;
}

.socials li{
    display: inline-block;
}

.socials li a:link,
.socials li a:visited {
    transition: color 0.2s;
}

.socials li a:hover,
.socials li a:active {
    color: #2e86de;
}
