/* Color: #2e86de */

/* --------------------------------- */
/* BASIC SETUP */
/* --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #061829;
    font-family: 'Rubik', 'Arial';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}



/* --------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------- */

.row {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ---- HEADINGS ---- */
h1 {
    margin: 20px 0;
    font-weight: 700;
    font-size: 360%;
    letter-spacing: -4px;
    word-spacing: 5px;
}

h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 230%;
    letter-spacing: -3px;
    word-spacing: 10px;
    text-align: center;
}

h3 {
    font-weight: 300;
    font-size: 175%;
    letter-spacing: -2px;
    word-spacing: 10px;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    letter-spacing: 2px;
    color: #061829;
}

.para {
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 20px;
}

.bDash{
   color: #2e86de; 
}

/* --------------------------------- */
/* HEADER */
/* --------------------------------- */

header {
    margin-bottom: 50px;
}

.intro {
    text-align: center;
    margin-top: 40px;
}

.intro img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    border-radius: 10%;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}


/* Main nav */
.main-nav {
    float: right;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 2px 0;
    color: #2e86de;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    color: #103a63;
    border-bottom: 2px solid #103a63;
}

.socials {
    word-spacing: 20px;
    font-size: 180%;
    text-align: center;
    margin-top: 20px;
}

.socials li{
    display: inline-block;
}

.socials li a:link,
.socials li a:visited {
    transition: color 0.2s;
}

.socials li a:hover,
.socials li a:active {
    color: #2e86de;
}

/* --------------------------------- */
/* ABOUT ME */
/* --------------------------------- */

.section-about {
    background-color: #f8f8f8;
}

.box {
    margin-left: 0;
}

.box p {
    margin-top: 20%;
}

/* --------------------------------- */
/* SKILLS */
/* --------------------------------- */

.skills-box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* --------------------------------- */
/* PROJECTS */
/* --------------------------------- */

.section-projects {
    background-color: #f8f8f8;
}